* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
background-color: white;
}

/*ESTILO DO CABEÇALHO*/

header{
    width:100%;
    z-index:999999999999999;
    padding: 10px 0;
    position: relative; /* Adicionado para posicionar o menu mobile */
    background-color: white;
}

 header .interface{
            max-width: 1280px; /* Adicionado para centralizar o conteúdo do cabeçalho */
            margin: 0 auto; /* Adicionado para centralizar o conteúdo do cabeçalho */
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 2%; /* Adicionado para dar um respiro nas laterais */
        }

header .logotipo img{
width:7rem;
}

/* Estilo do Menu Desktop */
header nav.menu-desktop ul{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

nav.menu-desktop ul li a{
     color:#14374d;
    text-decoration: none;
}

nav.menu-desktop ul li :hover{
   color:#cf9c7b;
}

.home{
    color:#cf9c7b;
}

/* Estilo do Menu Mobile */
.btn-abrir-menu {
    display: none; /* Oculto por padrão, só aparece em mobile */
    font-size: 2.5rem;
    cursor: pointer;
    color:#14374d;    
}

.menu-mobile {
    background-color:#14374d;
    color: #f7f7f7;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%; /* Começa fechado */
    height: 100vh;
    z-index: 99999;
    transition: .5s;
    overflow: hidden; /* Garante que o conteúdo não vaze enquanto fechado */
}

.menu-mobile.abrir-menu {
    width: 70%; /* Largura quando aberto */
}

.menu-mobile.abrir-menu ~ .overlay-menu {
    display: block;
}


.menu-mobile .btn-fechar-menu {
    color: white;
    font-size: 2.5rem;
    padding: 20px 5%;
    cursor: pointer;
    text-align: right;
}

.menu-mobile nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    padding: 15px 0;
}

nav ul li a {
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    color: #cf9c7b;
}

.overlay-menu {
    background-color: #000000a6;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none; /* Oculto por padrão */
}

/* Estilo do slider */

.slider{
    height:100vh;
    position:relative;
}

.slider .slider-container .slider-box{
    position:absolute;
    inset:0;
    overflow: hidden;
    opacity: 0;
}

.slider .slider-box img{
    width:100%;
    height:100vh;
    object-fit: cover;
}

.slider .slider-box::after{
content:'';
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
}

.slider .slider-box .texto-slider{
    position: absolute;
    left: 10%;
    top:30%;
    color:#fff;
    z-index:1;
    width:80%;
    max-width:600px;
}

.slider .slider-box .texto-slider h2{
    font-size:5rem;

}

.slider .slider-box .texto-slider p{
     font-size:1rem;
    margin-top: -20px;
}

@keyframes animaTexto{
    100%{
        transform: translateY(0);
        opacity: 1;
        transition: 3s;
    }
}

.slider .slider-box.ativo h2,
.slider .slider-box.ativo p{
    transform: translateY(60px);
    opacity: 0;
    animation: animaTexto .5s ease-in-out .7s forwards;
}

.slider .slider-box.ativo h2{
    animation-delay: 1s;
}

.slider-container .slider-box.ativo{
    opacity:1;
    z-index:11111;
}


/* Estilo das setas */
.setas{
    width:100%;
    height:100%;
    padding: 0 4% 4%;

    position:absolute;
    top:0;
    left:0;

    display:flex;
    align-items:center;
    justify-content: space-between;

    z-index:22222;
}

.setas button{
    width:40px;
    height:40px;
    background-color: #a8a7a7;
    border:0;
    border-radius: 8px;
    cursor:pointer;
    font-size:1.2rem;
    transition: .2s;
}

.setas button:hover{
    background-color:#fff;
}


    .footer-simple-container {
        background-color: white;
        color:#14374d;
        padding: 20px;
        text-align: center;
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer-simple-container p {
        margin: 0;
    }

/*RESPONSIVIDADE*/

@media (max-width: 768px) {
    header .interface {
        flex-direction: row; /* Mantém logo e botão de menu lado a lado */
        align-items: center;
        justify-content: space-between;
    }

    header nav.menu-desktop {
        display: none; /* Oculta o menu desktop em telas menores */
    }

    .btn-abrir-menu {
        display: block; /* Mostra o botão de hambúrguer */
    }

    .image-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .texto-slider{
       display: none;
    }

    

    .footer-simple-container {
        padding: 15px;
            font-size: 0.8em;
        }
}

@media (max-width: 480px) {
      header .logotipo img{
         width: 5rem; /* Ajuste o tamanho do logotipo para telas muito pequenas */
        }
    .setas{
        display:none;
    }
}
